<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner welcomePage">
    <div class="carousel-item active">
      <div class="d-block w-100 h-100 img-responsive">
        <!-- <%= image_tag 'https://images.unsplash.com/photo-1557256728-cd9dbea73286?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80' %> -->
        <%= image_tag 'https://images.unsplash.com/photo-1481277542470-605612bd2d61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=995&q=80' %>
        <div class="carousel-caption d-none d-block">
          <div id="brandCaption" class="display-1 d-none d-sm-block"><%= link_to "DEBUCCO", products_path %></div>
          <h3 class="descriptionCaption text-uppercase">Eco furniture store & interior designs</h3>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100 h-100 img-responsive">
        <%= image_tag 'https://images.unsplash.com/photo-1524061662617-6a29d732e3ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80'%>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="mainCaption display-4 text-uppercase">Modern, Unique & Natural</h3>
          <p class="descriptionCaption text-uppercase display-5">Furniture of reclaimed wood, stone, steel and organic textiles</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100 h-100 img-responsive">
        <%= image_tag 'https://images.unsplash.com/photo-1549305875-a18ca077f147?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1040&q=80'%>
        <div class="carousel-caption d-none d-md-block">
          <h3 class="mainCaption display-4 text-uppercase">Good for health & environnement</h3>
          <p class="descriptionCaption text-uppercase display-5">Produced without harmful toxins for your conscious home</p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
