<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<h1 class="my-4">Debucco</h1>
			<div class="list-group">
				<p>TABLES</p>
				<p>LAMPS</p>
				<p>CHAIRS</p>
				<p>SOFAS</p>
				<p>BEDS</p>
			</div>
		</div>
		<div class="col-lg-9">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			    <li data-target="#myCarousel" data-slide-to="2"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    <div class="item active">
						<div class="d-block img-fluid"><%= image_tag("sofaindustrialwhite.jpg", alt: "First slide")%></div>
						<div class="carousel-caption">
							<h3>Industrial sofa</h3>
							<h5>230 €</h5>
						</div>
			    </div>

			    <div class="item">
						<div class="d-block img-fluid"><%= image_tag("sofaindustrialwhiteside.jpg", alt: "Third slide")%></div>
						<!-- <div class="carousel-caption">
							<h3>Industrial sofa</h3>
							<h5>230 €</h5>
						</div> -->
			    </div>

			    <div class="item">
						<div class="d-block img-fluid"><%= image_tag("sofaindustrialwhiteback.jpg", alt: "Second slide")%></div>
						<div class="carousel-caption">
							<h3>Industrial sofa</h3>
							<h5>230 €</h5>
						</div>
					</div>
			  </div>

			  <!-- Left and right controls -->
			  <a class="left carousel-control" href="#myCarousel" data-slide="prev" role="button">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#myCarousel" data-slide="next" role="button">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
			
			<div class="row">
				<% @products.each do |product| %>
					<div class="col-lg-4 col-md-6 mb-4">
						<div class="cart h-100">
              <%= link_to(image_tag(product.image), product_path(product)) if product.image.attached? %>
              <div class="card-body">
								<h4 class="card-title"><%= product.name %></h4>
								<h5><%= product.price %></h5>
								<p class="card-text"><%= product.description %></p>
							</div>
							<div class="card-footer">
								<% if current_user && current_user.admin? %>
									<%= link_to 'Edit', edit_product_path(product) %>
									<%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %>
								<% elsif current_user && !current_user.admin %>
									<%= form_tag(line_items_path(product_id: product.id)) do %>
										<%= number_field_tag(:quantity, 1) %>
										<%= submit_tag('Add to shopping cart') %>
									<% end %>
								<% elsif !user_signed_in? %>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>


		</div>
	</div>
</div>