<h2>Products:</h2>

<table>
  <tr>
    <th>Product name:</th>
    <th>Description:</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= link_to 'Show', product_path(product) %></td>
      <td><%= link_to 'Edit', edit_product_path(product) %></td>
      <td><%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>

      <% if user_signed_in? %>
        <td><%= link_to 'Add to order', line_items_path(product_id: product.id), method: :post %></td>
      <% end %>

    </tr>
  <% end %>
</table>

<h3>Add new product: </h3>
<%= link_to 'New product', new_product_path %>

<h3>Show basket: </h3>
<%= link_to "Basket", order_path(@order) %>
