<%= link_to 'Back', products_path %>

<p>
  <b>Product name:</b><br>
  <%= @product.name %>
</p>
<p>
  <b>Description:</b><br>
  <%= @product.description %>
</p>
<p>
  <b>Price</b><br>
  <%= @product.price %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Add to order', line_items_path(product_id: @product.id), method: :post %>
<% end %>

<% if admin_signed_in? %>
  <%= link_to 'Edit product', edit_product_path(@product) %>
<% end %>
