<!DOCTYPE html>
<html>
  <head>
    <title>Debucco</title>
		
	  <%= csrf_meta_tags %>
 
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    
    <!-- <%= link_to image_tag("debucco.png", alt: "logo"), '/', class: 'navbar-brand' %> -->
		<%= link_to "Shop", products_path %>
		<% if !user_signed_in? %>
      <%= link_to "Log in", new_user_session_path%>
   	  <%= link_to "Sign up", new_user_registration_path %>
    <% elsif user_signed_in?%>
	    <%= link_to "Cart(#{current_cart.quantity_of_items})", cart_path %>
   		<%= link_to "Sign out", destroy_user_session_path, method: :delete %></a>
		<% end %>

  <%= yield %>
	
  </body>
  
</html>
