<!DOCTYPE html>
<html>
  <head>
    <title>OnlineStoreApp</title>
		
	  <%= csrf_meta_tags %>
 
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

		<!-- Bootstrap core CSS & JS -->
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	
		<!-- Custom fonts for this template -->
		<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
		
		<!-- Custom styles for this template -->
	  <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/css/grayscale.min.css" rel="stylesheet">
			 
  </head>

  <body id="page-top">
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">LOGO</a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#home"><%= link_to "Home", root_path %></a>
            </li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#products"><%= link_to "Shop", products_path %></a>
						</li>
						<% if !user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signin"><%= link_to "Sign in", new_user_session_path %></a>
            </li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#signup"><%= link_to "Sign up", new_user_registration_path %></a>
						</li>
						<% else %>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#signout"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></a>
						</li>
						<% end %>
          </ul>
        </div>
      </div>
    </nav>
			
  <%= yield %>
	
	<!-- Footer -->
 <footer class="bg-black small text-center text-white-50">
	<%= render 'layouts/alerts' %> 	
	<div class="container">
	   About us | Contact us | Shipping & Returns | Privacy Policy | Terms & Conditions 
	</div>
 </footer>
 
  </body>
</html>
