<!DOCTYPE html>
<html>
  <head>
    <title>OnlineStoreApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= link_to "Register", new_user_registration_path %>
  <%= link_to "Log in", new_user_session_path %>

  <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <% end %>

  <%= yield %>
  </body>
</html>
